<%- include('./partials/header.ejs') %>

<%- include('./partials/studentNav.ejs') %>

    <div class="card-body">
      <h5 class="card-title">Who do you indentify as?</h5>
      <button  type="button" class="btn">
        <a href="/teacher/login">Teacher</a>
    </button>
    <button  type="button" class="btn">
        <a href="/student/login">Student</a>
    </button>
    </div>

<%- include('./partials/footer.ejs') %>